In [18]:
import pandas as pd 
import numpy as np 
import os 
from Bio import SeqIO
from Bio import pairwise2
from Bio.pairwise2 import format_alignment

In [12]:
sequences = {}
with open("../OR_sequence/mouseOR_alignment.fasta", "r") as fasta_file:
    for record in SeqIO.parse(fasta_file, "fasta"):
        sequences[record.name] = str(record.seq)

In [48]:
def calculate_similarity(seq1, seq2):
    seq_length = len(seq1)
    num_matches = sum(a == b for a, b in zip(seq1, seq2))
    similarity_score = (num_matches / seq_length)  # Calculate similarity as a percentage

    return similarity_score

In [82]:
similarity_df = pd.DataFrame(
    {'OR1': ['' for _ in range(len(sequences)*(len(sequences)-1)//2)], 
     'OR2': ['' for _ in range(len(sequences)*(len(sequences)-1)//2)]
    }
)

    
from tqdm import tqdm

with tqdm(total=len(similarity_df)) as pbar:
    k = 0
    for i in range(len(sequences)):
        OlfrA = list(sequences.keys())[i]
        for j in range(i+1, len(sequences)):
            OlfrB = list(sequences.keys())[j]
            similarity = calculate_similarity(sequences[OlfrA], sequences[OlfrB])
            similarity_df.loc[k, ['OR1','OR2', 'SeqScore']] = [OlfrA, OlfrB, similarity]
            k += 1
            
    similarity_df.to_csv('./output/Olfr_sequence_similarity.csv')

  0%|                                                                                             | 0/612171 [49:27<?, ?it/s]

In [117]:
similarity_df

             OR1       OR2  SeqScore
0        Olfr101   Olfr102  0.966165
1        Olfr101   Olfr103  0.922932
2        Olfr101   Olfr109  0.802632
3        Olfr101  Olfr1179  0.640977
4        Olfr101  Olfr1180  0.637218
...          ...       ...       ...
612166  Olfr1358  Olfr1537  0.624060
612167  Olfr1358  Olfr1116  0.624060
612168   Olfr471  Olfr1537  0.661654
612169   Olfr471  Olfr1116  0.622180
612170  Olfr1537  Olfr1116  0.607143

[612171 rows x 3 columns]